@import "tailwindcss";

:root {
  --background: #f7f9fb;
  --foreground: #1a1a1a;
  --primary: #0b3c5d;
  --secondary: #328cc1;
  --accent: #d9a441;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
